In [3]:
#Question1

for loop is use when you known number of iteration
but while loop is use when we have indefinite iterations when loops repeats unknown number times until the condition is met.
example
a set, tuple, list, map or even a string is already an iterable collection so we simply use a for loop.

NameError: name 'Question1' is not defined

In [12]:
Question 2

the sum is 55

In [12]:
#Question 2
# sum of 10 natural number by using for loop
sum = 0
for i in range(1,11):
    sum += i
print("the sum is", sum)

the sum is 55

In [19]:
# product of 10 natural number by using for loop
product = 1

for i in range(1,11):
    product = product * i
print("the product is", product)

the product is 3628800

In [2]:
# sum of 10 natural number by using while loop

i = 1
sum = 0

while i<11:
    sum = sum + i
    i = i + 1
print("the sum is",sum)

the sum is 55

In [3]:
# product of 10 natural number by using while loop
i = 1
product = 1

while i < 11:
    product = product * i
    i = i + 1
print("product is", product)

product is 3628800

In [17]:
#Question 3
user = int(input( "Enter your units : " ))
if user <= 100:
    user = user * 4.5
    print(user)    
elif user <= 200:
    user = user * 6
    print(user)
elif user <= 300:
    user = user * 10
    print(user)
else:
    user = user * 20
    print(user)

Enter your units :  310

6200

In [27]:
#Question 5
string = "I want to become a data scientist"
print(*map(string.lower().count,"aeiou"))

4 3 3 2 0

In [58]:
#Question 4
s=list(range(1,101))
data = s
cube_list = []
for i in data:
    cube = i**3
    cube_list.append(cube)
    print(cube_list)
        if cube_list / (4,5):
            print(cube_list)

IndentationError: unexpected indent (1954998046.py, line 8)